/*VARIABLES*/

:root{
    box-sizing: border-box;
    --primary: rgb(24, 103, 130);
    --hover-color: rgb(9, 255, 206);
    --dark: #1c2022;
    --light: #fff;
    font-size: 18px;
    --bg-light:rgba(24, 103, 130, 0.5);
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/***THEMES***/


/*Light mode*/
body:has(option[value="light"]:checked){
    --background-color: #fff;
    --text-color: black;
    --box-color: #fff;
    --bubble-color: #fff;
    --button-color: rgb(227, 228, 229);
    --shadow-color:rgba(0,0,0,1);
  }
  
  /*Dark mode*/
  body:has(option[value="dark"]:checked){
    --background-color: black;
    --text-color: #e2e2e2;
    --box-color: lightgray;
    --bubble-color: #333;
    --button-color: rgba(103, 196, 227, 0.753);
    --shadow-color: rgba(192,192,192,0.7);
    
  }
  
  
  select{
    left:0;
    margin: 0em 1em;
    padding:15px;
    background-color:FFFFF;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
  }
  

  
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color) ;
    color: var(--text-color);
}



#delBtn{
  font-size: 1rem ;
  padding: 0.5rem;
  background-color: rgba(228, 85, 85, 0.744);
    box-shadow: 
      0px 0px 0.7px 0.2px hsl(0deg 0% 0% / 0.6),
      0px 1px 1.5px 1px hsl(0deg 0% 0% / 0.2),
      inset 0px 0px 5px 1px hsl(0deg 0% 0% / 0.3);
    border: 0.1px solid rgba(0,0,0,0.7);
    border-radius: 0.5em;
    margin-top:1em;
    margin-bottom: 1em;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    height: fit-content;
    cursor: pointer;
}

#trash{
  width:15%;
  height: auto;
}



.button {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  box-shadow: 0px 0px 5px 2px rgba(24, 103, 130);
  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover,
.button:active {
  background-color: var(--hover-color);
  color: black;
  transition: background-color 0.1s ease;
}




/*SAVED WORDS GRID AREAS*/
.wrap{
    display: grid;
    grid-template-areas:
        "navbar"
        "header"
        "main";
    grid-template-rows:auto auto 1fr;
    width: 100%;
    height: 100%;
    overflow: auto;
}   

header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;
}


/*SAVED WORDS*/

#savedListArea{
    grid-area: savedListArea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#savedListArea > h3{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3em;
    text-shadow: 0px 0px 5px var(--background-color),
    1px 1px 5px var(--shadow-color),
    0px 0px 10px var(--shadow-color);
    color: var(--box-color);

}


#savedWordsList{
    list-style-type: none;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    padding: 1.5rem 5rem;
    border-radius: 0.5em;
    border: 0.05em solid var(--text-color);
    background-color: var(--box-color);
    box-shadow: inset 0px 0px 5px 1px var(--shadow-color);
    min-width: 20vw;
    min-height: 10vh;

}

main{
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.hahmo-container {
    grid-area: hahmo-container;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1em;

}

#hahmo{
    width: min(30%, 80%); 
    height: auto;
    margin: 3%;
}

.puhekupla{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
  box-shadow:0px 0px 2px 0.5px var(--shadow-color),
    0px 0px 5px 0.2px var(--shadow-color);
  border-radius: 20px;
  background-color: var(--bubble-color);
  color: var(--text-color) ;
}

/*Without this, whole speechbubble & buttons move around with text changing (different size)*/
.text-container {
    padding: 5px;
    min-height: 20vh;
    max-width: 50vw;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;  /*text in middle*/
    text-align: center;
    justify-content: center;
    font-style: italic;
    font-size: 0.9rem;
}

.speech-button {
    font-size: 13px;
    font-weight: bold;
    padding: 8px 12px;
    border: 0.1px solid var(--bubble-color);
    border-radius: 15px;
    margin: 2px;
    margin-top: 0.5em; /*space between text and buttons*/
    background-color: var(--bubble-color);
    color: var(--text-color) ;

    cursor: pointer;
    box-shadow:
      0px 0px 1px 1px hsl(0deg 0% 0% / 0.075),
      1px 1px 3px 2px hsl(0deg 0% 0% / 0.2),
      0px 0px 10px 2px hsl(0deg 0% 0% / 0.075),
      0px 0px 15px 4px hsl(0deg 0% 0% / 0.1),
      inset 0px 0px 1px 2px hsl(0deg 0% 0% / 0.1),
      inset 1px 1px 1px 1px hsl(0deg 0% 100% / 0.075),
      inset 0.5px 1px 0.5px 0.5px hsl(0deg 0% 100% / 0.1)
    ;

}


#alert{
  visibility: hidden;
}


/*NAV*/

.navbar{
    grid-area: navbar;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em 0em 1.5em;
    border-bottom:1px solid black ;
}

/* MENU */

.branding-logo{
    color: var(--box-color);
    font-size: calc(1rem + 1vw);
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: row;

}

.menu li{
    list-style: none;
}

.menu li a{
    display: block;
    text-decoration: none;
    color: var(--box-color);
    padding: 1em 1.5em;
    font-size: 1.2rem;
}

/*MENU-ARROWS*/

.arrow{
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.25em; /*getting it really middle with text*/
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    transition: transform 150ms ease-in-out; /*smooth animation*/
    font-size: small;
}

/*Animate arrows*/
.menu > li:hover > a > .arrow{
    transform: rotate(225deg); /*rotate to right*/
}

/*SUBMENU*/


.has-dropdown {
    position: relative;
}

.submenu {
    position: absolute;
    right: 0;  /* right value 0, right side is on same level than parent */
    background-color: var(--primary);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap; /* Disable line breaks; text on one row*/
    padding: 0.7em 0; /*padding vertical and horizontal*/
    /*Hide submenu when not hovered*/
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center ;
}

/*Reveal submenu*/
.menu > li:hover > a + .submenu{
    opacity: 1;
    transform: scaleY(1);
}


.submenu > li > a {
    padding: 1em 1.5em; /*padding vertical and horizontal (text)*/
    color: var(--box-color);
    text-decoration: none;
    font-size: 1.1rem;
}

.menu > li:hover>a, .submenu > li:hover>a {
    background-color: rgba(139, 139, 139, 0.2); /* hover nav links & submenu links; lighter background color */
    color: var(--hover-color);
    box-shadow:inset 0px 0px 10px 5px var(--hover-color);
}




/*Responsive NAV*/

@media screen and (max-width: 700px) {
    .navbar{
        position: relative;
        padding: 0.6em;
    }

    .menu{
        flex-flow: column;
        position: absolute;
        top: 2.7em;
        left: 0;
        right: 0;
        height: fit-content;
        padding: 1.5em 0em 1.5em 0em;
        background-color: var(--primary);
        border: none;
        box-shadow: 0px 0px 10px 0.5px #000;
        /*for close/open menu from hamburger icon*/
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 200ms,
        100ms opacity ease-in-out ;

}


/* Näytetään alavalikko, kun sillä on luokka "active" */
.submenu.active {
  display: block;
}

    .submenu {
      display:none;
        left: 0;  /* left side is on same level than parent */
        padding: 1em 0; /*padding vertical and horizontal*/
        border-left: 2px solid rgba(0, 0, 0, 0.2);
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 200ms,
        100ms opacity ease-in-out ;
    }

    .menu > li:hover > a + .submenu {
        position: relative; /*Opened submenu will "push" below elements down so they won't lap*/
     
    }

    .submenu > li > a, .menu > li > a {
        padding: 0.8em 1.5em; /*padding vertical and horizontal (text)*/
        color: var(--box-color);
        text-decoration: none;
        font-size: 1.3em;
    }


    /*hamburger icon*/
    .hamburger {
        width: 2em;
        height: 0.25em;
        display: block;
        background-color: var(--box-color);
        position: relative;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after, .hamburger::before {
        content: "";
        position: absolute;
        left: 0;
        background: inherit;
        width: inherit;
        height: inherit;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after{
        top:0.65em;   
    }

    .hamburger::before{
        bottom: 0.65em;
    }

    .close::after, .close::before {
        top: 0;
        transition: 0.2s transform ease-in-out;
    };

    .close::before{
        display: none;
    }

    .close{
        transform: rotate(45deg);
        transition: 0.2s transform ease-in-out;
    }

    .close::after{
        transform: rotate(-90deg);
    }

    /*reveal/ hide menu*/
    input[type="checkbox"]:checked + .menu{
        position: absolute;
        opacity: 1;
        transform: scaleY(1);
    }

}



/*PC VIEW*/

@media screen and (min-width: 700px) {


#savedListArea{
    grid-area: savedListArea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#savedWordsList{
    
    min-width: 60vw;
    min-height: 10vh;

}


.hahmo-container {
    grid-area: hahmo-container;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding:0;
    margin: 0;
}

    #hahmo{
        max-width: 30%;
        height: auto;
    }


    .text-container {
        max-width: 50vw;
        font-size: 1.3rem;
    }

.word-box {
    width: auto;
    min-width: 2.5rem;
    height: auto;
    min-height: 1rem;
    font-size: 1.rem;
}

#savedListArea > h3, .aiheOtsikko{
    font-size: 2.5rem;
    padding: 0.8em;

}

}