
/*VARIABLES*/

:root{
    box-sizing: border-box;
    --primary: rgb(24, 103, 130);
    --hover-color: rgb(9, 255, 206);
    --dark: #1c2022;
    --light: #fff;
    font-size: 18px;
    --bg-light:rgba(24, 103, 130, 0.5);
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/***THEMES***/


/*Light mode*/
body:has(option[value="light"]:checked){
    --background-color: #fff;
    --text-color: black;
    --box-color: #fff;
    --bubble-color: #fff;
    --button-color: rgb(227, 228, 229);
    --shadow-color:rgba(0,0,0,1);
  }
  
  /*Dark mode*/
  body:has(option[value="dark"]:checked){
    --background-color: black;
    --text-color: #e2e2e2;
    --box-color: lightgray;
    --bubble-color: #333;
    --button-color: rgba(103, 196, 227, 0.753);
    --shadow-color: rgba(192,192,192,0.7);
    
  }
  
  
  select{
    left:0;
    margin: 0em 1em;
    padding:15px;
    background-color:FFFFF;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
  }
  

  
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color) ;
    color: var(--text-color);
}



.grid-container {
    display: grid;
    grid-template-areas:
        "navbar"
        "header"
        "main";
    grid-template-rows:auto auto 1fr;
    width: 100%;
    height: 100%;
    overflow: auto;
}



header{
    grid-area: header;
}

#topArea{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}



#counter, #gameArea, #gameContainer, .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-container{
  grid-area:main;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GAME-AREA */
#gameArea{
    flex-direction: column;  
}

#gameContainer {
    flex-direction: column;
    padding: 1rem;
    gap: 1em; /*väli ruudukon ja sanalistan kanssa*/
    background-color: var(--primary);
    border: 1px solid black;
    width: 100vw;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    gap: 0.1em;
}




/*RUUDUT*/

.cell {
    width: 1.8rem;
    height: 1.8rem;
    font-size: large;
    border: 1px solid black;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    user-select: none; /*ei voi "valita" kirjaimia*/
    touch-action: none; /* estää vierityksen kosketuksella */
}


.cell:hover, .cell.selected {
    background-color: yellow;
    color: black;
  }


.cell.correct{
    background-color: lightgreen;
    color: black;
  }


#wordList {
    text-align: center;
    border: 1px solid black;
    background-color: var(--background-color);
    color:var(--text-color);
    padding: 0.5em;

}

#wordList h4 {
    padding-bottom: 0.7rem;
}


#wordsToFind {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start; /* Sanojen tasaus */
    gap: 5px 10px; /* Vaakasuuntainen väli 5px, pystysuuntainen 10px */
}

#wordsToFind li {
    list-style: none;
    flex: 1 1 calc(30% - 10px); /* Leveys 20% per sana, huomioi väli (5 sanaa per rivi) */
    margin: 0; /* Ei marginaalia sanojen välillä, käytetään gapia */
    text-align: center;
    white-space: nowrap; /* Estää sanojen katkeamisen */

}
#wordsToFind li.found {
    text-decoration: line-through;
  }


/*NOTIFICATION*/

#notificationContainer {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Keskitetään ilmoitus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ilmoitus on varmasti muiden elementtien päällä */
    width: auto;
    height: auto;
}

.notification {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 1;
    transition: opacity 1s ease-out, transform 1.5s ease-out; /* Animaatiot opacitylle ja transformille */
    pointer-events: none;
    transform: translateY(0);
}


.notification.fade-out {
    opacity: 0;
    transform: translateY(-1rem)
  }


/*GAME OVER -MODAL*/

.modal {
    display: none; /* Piilotetaan oletuksena */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Läpinäkyvä tausta */
    overflow: auto;
  }

.modal-content {
    background-color: var(--background-color);
    border: 1px solid #888;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    list-style: none;
  }

#wordsModal {
    list-style: none;
    text-align: left;
    padding: 1em;
} 

#yesButton {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #infoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 2em;
    padding-left: 2em;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    z-index: 1000; 
}

#infoModalContent {
    text-align: left;
    overflow: auto;
    max-height: 80vh; /* Estää sisältöä ylittämästä näytön korkeutta */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2.5em 2em;
    font-size: 20px;
    position: relative; /* Sijoitetaan elementit suhteessa sisältöön */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background-color: rgba(228, 18, 18, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
  }
  
  .close-button:hover {
    font-size: larger;
  }



.button {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    box-shadow: 0px 0px 5px 2px rgba(24, 103, 130);
    border-radius: 5px;
    padding: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover, .button:active {
    background-color: var(--hover-color);
    color: black;
    transition: background-color 0.1s ease;
}


/*NAV*/

.navbar{
    grid-area: navbar;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em 0em 1.5em;
    border-bottom:1px solid black ;
}

/* MENU */

.branding-logo{
    color: var(--box-color);
    font-size: calc(1rem + 1vw);
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: row;

}

.menu li{
    list-style: none;
}

.menu li a{
    display: block;
    text-decoration: none;
    color: var(--box-color);
    padding: 1em 1.5em;
    font-size: 1.2rem;
}

/*MENU-ARROWS*/

.arrow{
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.25em; /*getting it really middle with text*/
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    transition: transform 150ms ease-in-out; /*smooth animation*/
    font-size: small;
}

/*Animate arrows*/
.menu > li:hover > a > .arrow{
    transform: rotate(225deg); /*rotate to right*/
}

/*SUBMENU*/


.has-dropdown {
    position: relative;
}

.submenu {
    position: absolute;
    right: 0;  /* right value 0, right side is on same level than parent */
    background-color: var(--primary);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap; /* Disable line breaks; text on one row*/
    padding: 0.7em 0; /*padding vertical and horizontal*/
    /*Hide submenu when not hovered*/
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center ;
}

/*Reveal submenu*/
.menu > li:hover > a + .submenu{
    opacity: 1;
    transform: scaleY(1);
}


.submenu > li > a {
    padding: 1em 1.5em; /*padding vertical and horizontal (text)*/
    color: var(--box-color);
    text-decoration: none;
    font-size: 1.1rem;
}

.menu > li:hover>a, .submenu > li:hover>a {
    background-color: rgba(139, 139, 139, 0.2); /* hover nav links & submenu links; lighter background color */
    color: var(--hover-color);
    box-shadow:inset 0px 0px 10px 5px var(--hover-color);
}




/*Responsive NAV*/

@media screen and (max-width: 700px) {
    .navbar{
        position: relative;
        padding: 0.6em;
    }

    .menu{
        flex-flow: column;
        position: absolute;
        top: 2.7em;
        left: 0;
        right: 0;
        height: fit-content;
        padding: 1.5em 0em 1.5em 0em;
        background-color: var(--primary);
        border: none;
        box-shadow: 0px 0px 10px 0.5px #000;
        /*for close/open menu from hamburger icon*/
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 200ms,
        100ms opacity ease-in-out ;

}


/* Näytetään alavalikko, kun sillä on luokka "active" */
.submenu.active {
  display: block;
}

    .submenu {
      display:none;
        left: 0;  /* left side is on same level than parent */
        padding: 1em 0; /*padding vertical and horizontal*/
        border-left: 2px solid rgba(0, 0, 0, 0.2);
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 200ms,
        100ms opacity ease-in-out ;
    }

    .menu > li:hover > a + .submenu {
        position: relative; /*Opened submenu will "push" below elements down so they won't lap*/
     
    }

    .submenu > li > a, .menu > li > a {
        padding: 0.8em 1.5em; /*padding vertical and horizontal (text)*/
        color: var(--box-color);
        text-decoration: none;
        font-size: 1.3em;
    }


    /*hamburger icon*/
    .hamburger {
        width: 2em;
        height: 0.25em;
        display: block;
        background-color: var(--box-color);
        position: relative;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after, .hamburger::before {
        content: "";
        position: absolute;
        left: 0;
        background: inherit;
        width: inherit;
        height: inherit;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after{
        top:0.65em;   
    }

    .hamburger::before{
        bottom: 0.65em;
    }

    .close::after, .close::before {
        top: 0;
        transition: 0.2s transform ease-in-out;
    };

    .close::before{
        display: none;
    }

    .close{
        transform: rotate(45deg);
        transition: 0.2s transform ease-in-out;
    }

    .close::after{
        transform: rotate(-90deg);
    }

    /*reveal/ hide menu*/
    input[type="checkbox"]:checked + .menu{
        position: absolute;
        opacity: 1;
        transform: scaleY(1);
    }

}


@media screen and (min-width: 1024px) {
    #gameContainer{
        flex-direction: row;
}

    #topArea{
        margin-top: 1rem;
    }

    .cell {
        width: 2.5rem;
        height: 2.5rem;
    }

    #wordsToFind {
        gap: 5px 0px; /* Vaakasuuntainen väli 5px, pystysuuntainen 10px */
    }

    #wordList{
        width: 30%;
        padding: 1rem;
        margin-left: 1rem;
    }
}  